@font-face {
  font-family: "ArtifaktElement";
  src: url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/eot/ArtifaktElementRegular.eot");
  src: url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/eot/ArtifaktElementRegular.eot?#iefix")
      format("embedded-opentype"),
    url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/woff2/ArtifaktElementRegular.woff2")
      format("woff2"),
    url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/woff/ArtifaktElementRegular.woff")
      format("woff"),
    url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/ttf/ArtifaktElementRegular.ttf")
      format("truetype"),
    url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/svg/ArtifaktElementRegular.svg#ArtifaktElementRegular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ArtifaktElement";
  src: url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/eot/ArtifaktElementItalic.eot");
  src: url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/eot/ArtifaktElementItalic.eot?#iefix")
      format("embedded-opentype"),
    url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/woff2/ArtifaktElementItalic.woff2")
      format("woff2"),
    url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/woff/ArtifaktElementItalic.woff")
      format("woff"),
    url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/ttf/ArtifaktElementItalic.ttf")
      format("truetype"),
    url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/svg/ArtifaktElementItalic.svg#ArtifaktElementItalic")
      format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "ArtifaktElement";
  src: url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/eot/ArtifaktElementBold.eot");
  src: url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/eot/ArtifaktElementBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/woff2/ArtifaktElementBold.woff2")
      format("woff2"),
    url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/woff/ArtifaktElementBold.woff")
      format("woff"),
    url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/ttf/ArtifaktElementBold.ttf")
      format("truetype"),
    url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/svg/ArtifaktElementBold.svg#ArtifaktElementBold")
      format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ArtifaktElement";
  src: url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/eot/ArtifaktElementBoldItalic.eot");
  src: url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/eot/ArtifaktElementBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/woff2/ArtifaktElementBoldItalic.woff2")
      format("woff2"),
    url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/woff/ArtifaktElementBoldItalic.woff")
      format("woff"),
    url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/ttf/ArtifaktElementBoldItalic.ttf")
      format("truetype"),
    url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/svg/ArtifaktElementBoldItalic.svg#ArtifaktElementBoldItalic")
      format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "ArtifaktElementLight";
  src: url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/eot/ArtifaktElementLight.eot");
  src: url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/eot/ArtifaktElementLight.eot?#iefix")
      format("embedded-opentype"),
    url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/woff2/ArtifaktElementLight.woff2")
      format("woff2"),
    url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/woff/ArtifaktElementLight.woff")
      format("woff"),
    url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/ttf/ArtifaktElementLight.ttf")
      format("truetype"),
    url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/svg/ArtifaktElementLight.svg#ArtifaktElementLight")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ArtifaktElementLight";
  src: url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/eot/ArtifaktElementLightItalic.eot");
  src: url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/eot/ArtifaktElementLightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/woff2/ArtifaktElementLightItalic.woff2")
      format("woff2"),
    url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/woff/ArtifaktElementLightItalic.woff")
      format("woff"),
    url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/ttf/ArtifaktElementLightItalic.ttf")
      format("truetype"),
    url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/svg/ArtifaktElementLightItalic.svg#ArtifaktElementLightItalic")
      format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "ArtifaktElementMedium";
  src: url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/eot/ArtifaktElementMedium.eot");
  src: url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/eot/ArtifaktElementMedium.eot?#iefix")
      format("embedded-opentype"),
    url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/woff2/ArtifaktElementMedium.woff2")
      format("woff2"),
    url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/woff/ArtifaktElementMedium.woff")
      format("woff"),
    url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/ttf/ArtifaktElementMedium.ttf")
      format("truetype"),
    url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/svg/ArtifaktElementMedium.svg#ArtifaktElementMedium")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ArtifaktElementMedium";
  src: url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/eot/ArtifaktElementMediumItalic.eot");
  src: url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/eot/ArtifaktElementMediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/woff2/ArtifaktElementMediumItalic.woff2")
      format("woff2"),
    url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/woff/ArtifaktElementMediumItalic.woff")
      format("woff"),
    url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/ttf/ArtifaktElementMediumItalic.ttf")
      format("truetype"),
    url("https://knowledge.autodesk.com/akn-widgets/fonts/artifakt-element/svg/ArtifaktElementMediumItalic.svg#ArtifaktElementMediumItalic")
      format("svg");
  font-weight: normal;
  font-style: italic;
}